.login-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background-color: #dbcccc;
}
.container-auth{
    width:  auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 222, 233);
}
 .login-container-content{
    box-sizing: border-box;
 }